head {
	display: none;
}

html {
	display: block;
}

body {
	max-width: 40em;
	margin: 0 auto;
	padding: 5px;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: #333;
	background-color: #fff;
}

a {
	color: #24a7ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#masthead h1, #masthead h1 a {
	line-height: normal;
	margin-top: 10px;
	color: #333;
	margin-bottom: 10px;
}

.section-header {
	margin-top: 40px;
	margin-bottom: 30px;
}

.post-title {
	margin-bottom: -10px;
}

.info-date {
	margin-bottom: -12px;
	font-size: 18px;
}

.post-summary {
	margin-bottom: 5px;
}

.post-page-title {
	text-align: center;
	line-height: normal;
	margin-bottom: 50px;
}

.book-cover {
	width: 100%;
	height: auto;
}

footer, footer a { 
	color: #333;
	margin: 20px auto 15px;
	text-align: right;
	margin-bottom: 20px; 
}

.social img {
	height: 40px;
}

@media screen and (max-width: 440px) {
	header#masthead h1 a {
		font-size: 1em
	}
	body {
		padding-left: 4%;
		padding-right: 4%;
	}
	.welcome-header {
		font-size: 38px;
	}
}

@media screen and (min-width: 440px) {
	#masthead h1 a {
		font-size: 1.5em
	}
}

@media(prefers-color-scheme:dark) {
	body {
		background-color: #333;
		color: #ebebeb
	}
	h1, h1, h2, h2, h3, #masthead h1 a {
		color: #ebebeb
	}

	footer, footer a {
		color: #ebebeb;
	}
}