body{
    max-width:40em;
    margin:0 auto;
    padding:5px;
    font-family:'Inter', sans-serif;
    font-size:20px;
    line-height:30px;
    color:#333;
    background-color: #fff;
}
a {
    color: #24a7ff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.nav-logo{
    text-align: center;
    font-size: 48px;
    text-decoration: none;
    color: #333
}
.welcome-header{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.section-header {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
.info-date{
    font-size: 14px;
}
.post-title{
    margin-bottom: -15px;
}