<header role="banner">
    <h1 class="logo"><a href="/">Parsa</a></h1>
    <nav role="navigation">
        <ul>
            {% for item in site.data.navigation %}
            <li>
                <a href="{{ item.url }}" {% if item.url==page.url %} class="active" {% endif %}>{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>

        <ul id="socials">
            {% for item in site.data.socials %}
            <li>
                <a href="{{ item.url }}" target="_blank" rel="noreferrer"><svg class="social-logo" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>{{ item.title }} Logo</title>{{ item.logo }}</svg></a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>