@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans:
    var(--font-plex-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    var(--font-instrument-serif), ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
}

@theme {
  --color-google-blue: #4885ed;
  --color-google-red: #db3236;
  --color-google-yellow: #f4c20d;
  --color-google-green: #3cba54;
  --color-tesla-red: #cc0000;
  --color-white: #fff;
  --color-black: #000;
}

::selection {
  @apply bg-black text-white;
}

@layer base {
  h1,
  h2,
  h3 {
    @apply font-serif;
  }

  a {
    @apply hover:underline hover:text-blue-600 decoration-2 font-medium;
  }

  img {
    @apply border-2 border-black;
  }
}
