@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme inline {
  --font-serif:
    var(--font-bitter), ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
}

@theme {
  --color-google-blue: #4885ed;
  --color-google-red: #db3236;
  --color-google-yellow: #f4c20d;
  --color-google-green: #3cba54;
  --color-tesla-red: #cc0000;
  --color-white: #fff;
  --color-black: #000;
}

::selection {
  @apply bg-black text-white;
}

@layer base {
  html {
    @apply font-serif;
  }

  a {
    @apply hover:underline hover:text-blue-800 decoration-2 font-medium;
  }

  a img {
    @apply hover:translate-x-px hover:translate-y-px hover:shadow-[3px_3px_0px_0px_rgba(0,0,0,1)];
  }

  img {
    @apply border-2 border-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)];
  }
}
