@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
    --color-google-blue: #4885ed;
    --color-google-red: #db3236;
    --color-google-yellow: #f4c20d;
    --color-google-green: #3cba54;
    --color-tesla-red: #cc0000;
    --color-white: #fff;
    --color-black: #000;
}

::selection {
    @apply bg-black text-white;
}

@layer base {
    h1,
    h2,
    h3 {
        @apply font-bold;
    }

    a {
        @apply decoration-2 underline hover:bg-black hover:text-white transition-colors;
    }

    img {
        @apply border-2 border-black;
    }
}
