head {
	display: none;
}

html {
	font-family: 'Inter', sans-serif;
}

body {
	max-width: 40em;
	margin: 0 auto;
	padding: 5px;
	font-size: 20px;
	line-height: 30px;
	color: #333;
	background-color: #fff;
}

h1, h2, h3 {
	line-height: 40px;
}

nav a {
	color: #333;
	font-family: 'DM Mono', monospace;
}

a {
	color: #58D68D;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul.no-bullets {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

@media(prefers-color-scheme:dark) {
	body {
		background-color: #333;
		color: #ebebeb
	}

	nav a {
		color: #ebebeb;
	}
}