html {
  font-family: "DM Sans", sans-serif;
}

body {
  max-width: 40em;
  margin: 0 auto;
  padding: 7px;
  font-size: 20.5px;
  line-height: 30px;
  color: #333;
  background-color: #fffaee;
}

h1,
h2,
h3,
h4 {
  line-height: 40px;
}

h4 {
  margin-top: -17px;
  margin-bottom: 5px;
}

nav a {
  color: #333;
  font-family: "DM Mono", monospace;
}

footer a {
  color: #333;
  font-family: "DM Mono", monospace;
}

a {
  color: #33dbff;
  text-decoration: none;
}

.post-title a {
  color: #333;
  text-decoration: underline;
}

.post-title a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #ebebeb;
  }

  nav a,
  footer a {
    color: #ebebeb;
  }

  .post-title a {
    color: #ebebeb;
  }
}

@media screen and (max-width: 440px) {
  body {
    padding-left: 5px;
    padding-right: 5px;
  }
}
