---
import { getCollection } from "astro:content";
import Layout from "../components/Layout.astro";

const posts = await getCollection("blog");
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Blog">
    <span class="flex gap-1 items-baseline">
        <span class="flex-1">
            <h1 class="text-2xl sm:text-3xl mb-8">Blog</h1>
        </span>
        <!-- <a href="/feed.atom">
          <SiRss />
        </a> -->
    </span>
    <ul class="flex flex-col gap-2">
        {
            posts.map((post, i) => {
                const year = post.data.date.getFullYear();
                const firstForYear =
                    !posts[i - 1] ||
                    posts[i - 1].data.date.getFullYear() !== year;
                const lastForYear =
                    !posts[i + 1] ||
                    posts[i + 1].data.date.getFullYear() !== year;

                return (
                    <li>
                        {firstForYear && (
                            <span class="font-bold flex justify-end mb-3">
                                {year}
                            </span>
                        )}
                        <span
                            class={`flex gap-0.5 ${lastForYear ? "mb-4" : ""}`}
                        >
                            <span class="flex-1">
                                <a href={`/${post.id}`}>
                                    <span class="font-bold">
                                        {post.data.title}
                                    </span>
                                    {post.data.author && (
                                        <span> ({post.data.author})</span>
                                    )}
                                </a>
                            </span>
                            <span>
                                {post.data.date.toLocaleDateString("en-GB", {
                                    day: "numeric",
                                    month: "short",
                                })}
                            </span>
                        </span>
                    </li>
                );
            })
        }
    </ul>
</Layout>
