---
const { title = "My Astro Website", ...props } = Astro.props;
---

<head>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <title>{title}</title>
  <meta name="description" content="Welcome to my new Astro site!" />

  <!-- Open Graph tags -->
  <meta property="og:title" content="My New Astro Website" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.example.com/" />
  <meta property="og:description" content="Welcome to my new Astro site!" />
  <meta
    property="og:image"
    content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp"
  />
  <meta property="og:image:alt" content="" />
</head>
