---
interface Props {
    title?: string;
}
const { title } = Astro.props;
const base = "text-blue-600 hover:text-blue-800";
---

<nav class="flex pb-2 mb-6 flex-col border-b">
    <span>
        <strong class="mr-3">Path</strong> ~ /
        <a href="/" class={base}>home</a> /
        {
            Astro.url.pathname === "/blog" ? (
                <strong>blog</strong>
            ) : (
                // prettier-ignore
                <a href="/blog" class={base}>blog</a>
            )
        }
        {
            title ? (
                <span>
                    / <strong>{title}</strong>
                </span>
            ) : (
                ""
            )
        }
    </span>
</nav>
