---
const name = "Parsa Mesgarha";
---

<nav class="flex mb-6 items-center">
    <span class="flex-1">
        <a href={"/"} class="font-bold text-lg">
            {name}
        </a>
    </span>
    <a href={"/blog"} class="font-bold text-lg"> blog </a>
</nav>
