---
const name = "PARSA MESGARHA";

const pathname = Astro.url.pathname;
---

<nav class="flex mb-6 items-center">
    <span class="flex-1">
        {
            pathname === "/" ? (
                <h1 class="font-bold text-lg cursor-default">{name}</h1>
            ) : (
                <a href={"/"} class="font-bold text-lg underline">
                    {name}
                </a>
            )
        }
    </span>
    {
        pathname === "/blog" ? (
            <h1 class="font-bold text-lg cursor-default">BLOG</h1>
        ) : (
            <a href={"/blog"} class="font-bold text-lg underline">
                BLOG
            </a>
        )
    }
</nav>
