<p>
  Subscribe to my <a href="https://parsam.substack.com" target="_blank"
    >Substack</a
  > to get new posts in your inbox.
</p>

<iframe
  src="https://parsam.substack.com/embed"
  width="480"
  height="320"
  class="border-2 border-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] max-w-full bg-white"
  frameborder="0"
  scrolling="no"></iframe>
