<p>
  Subscribe to my <a href="https://parsam.substack.com" target="_blank"
    >Substack</a
  > to get new posts in your inbox.
</p>

<iframe
  src="https://parsam.substack.com/embed"
  width="480"
  height="320"
  style="border:1px solid #EEE; background:white;"
  frameborder="0"
  scrolling="no"></iframe>
