<p>Subscribe to get new posts in your inbox.</p>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/parsam"
  method="post"
  class="flex flex-col sm:flex-row gap-4 mt-2"
>
  <input
    type="email"
    name="email"
    placeholder="jimmy@bettercallsaul.com"
    required
    class="flex-1 px-4 py-2 border-2 border-black focus:outline-none shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]"
  />
  <button
    type="submit"
    class="px-4 py-2 bg-black text-white font-bold border-2 border-black
    shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] hover:translate-x-px hover:translate-y-px hover:shadow-[1px_1px_0px_0px_rgba(0,0,0,1)]"
  >
    SUBSCRIBE
  </button>
</form>
