<p>
  Subscribe to my <a href="https://parsam.substack.com" target="_blank"
    >Substack</a
  > to get new posts in your inbox. (I would embed the subscribe button but Substack
  made my website slow)
</p>
