---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import Layout from "./Layout.astro";
import Prose from "./Prose.astro";
import NewsletterForm from "./NewsletterForm.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout
  title={post.data.title}
  image={new URL(`${Astro.url.href}/og.png`)}
  post
>
  <section>
    <div class="mb-6">
      <h1 class="font-bold text-4xl mb-2">
        {post.data.title}
        <span class="font-medium">
          {post.data.author ? `(${post.data.author})` : ""}
        </span>
      </h1>
      <div class="flex gap-3 items-center">
        <span class="flex-1">
          {
            post.data.date.toLocaleDateString("en-GB", {
              day: "numeric",
              month: "long",
              year: "numeric",
            })
          }
        </span>
      </div>
    </div>
    <article>
      <Prose class="prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl"
        ><Content /></Prose
      >
    </article>
    <Prose class="prose-h3:text-xl mt-6 pt-8 border-t">
      <h3>Enjoyed this post?</h3>
      <NewsletterForm server:defer />
      <p>And consider...</p>
      <ul>
        <li>
          following me on{" "}
          <a href="https://x.com/pzrsaa">Twitter/X</a>
        </li>
        <li>sharing this post with a friend</li>
        <li>
          sharing your thoughts over{" "}
          <a href="mailto:hi@parsam.io">email</a>
        </li>
      </ul>
    </Prose>
  </section>
</Layout>
