---

---

<div
    class="prose
  prose-h1:uppercase prose-h2:uppercase prose-h3:uppercase
  prose-a:text-blue-700 prose-a:underline prose-a:decoration-2 prose-a:hover:bg-black prose-a:hover:text-white"
>
    <slot />
</div>
