---
interface Props {
  class?: string;
}
---

<div
  class={"prose prose-a:no-underline prose-a:hover:underline prose-a:font-medium prose-a:decoration-2 prose-a:text-blue-600 prose-a:hover:text-blue-800" +
    " " +
    (Astro.props.class || "")}
>
  <slot />
</div>
