.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  height: 45px;
}

.navLink {
  font-weight: 725;
  transition: 125ms;
  text-decoration: none;
  color: inherit;
}

.navLink:hover {
  color: #999;
  text-decoration: none;
}

.toggle {
  margin: auto;
  display: flex;
  align-items: center;
}

/* If the screen size is 601px wide or more (desktop) */
@media screen and (min-width: 301px) {
  .navbar {
    font-size: 1.2rem;
  }
}

/* If the screen size is 600px wide or less (mobile) */
@media screen and (max-width: 300px) {
  .navbar {
    font-size: 1rem;
  }
}
