.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  height: 45px;
}

.navLink {
  font-weight: 725;
  transition: 125ms;
}

.navLink:hover {
  color: #999;
  text-decoration: none;
}

.toggle {
  margin: auto;
  display: flex;
  align-items: center;
}
