.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.navLink {
  font-weight: 725;
  transition: 125ms;
}

.navLink:hover {
  color: #777;
}
