.p {
  font-size: 1.15rem;
  transition: 125ms;
  cursor: default;
}

.p a {
  color: inherit;
}

.icon {
  vertical-align: -3px;
}

.nowPlaying a {
  text-decoration: none;
}

.nowPlaying:hover {
  color: #777;
}
