.button {
  border-radius: 10px;
  font-size: 1rem;
  border: 0;
  width: 35px;
  height: 35px;
  padding: 0;
  cursor: pointer;
}

.icon {
  vertical-align: -2.5px;
}

.button:hover {
  background-color: #888;
}

.light {
  background-color: #c2bdbd;
  color: #111;
}

.dark {
  background-color: #444;
  color: #fff;
}
