<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">
    <meta name="description" content="Parsa Mesgarha's Website.">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
    {% if page.title %}
    <title>
        {{ page.title }} - Parsa Mesgarha
    </title>
    {% else %}
    <title>
        Parsa Mesgarha
    </title>
    {% endif %}
</head>

{% include navigation.html %}

<hr>

<body>
    {{ content }}
</body>

<hr>

{% include footer.html %}

</html>