<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/76453314?v=4">
    <meta name="description" content="Parsa Mesgarha's Website.">

    {% if page.title == "" %}
    <title>
        Parsa Mesgarha
    </title>
    {% else %}
    <title>
        {{ page.title }} - Parsa Mesgarha
    </title>
    {% endif %}
</head>

<body>
    <main role="main">

        {% include navigation.html %}

        {{ content }}

    </main>

</body>

</html>